.far {
  font-size: 25px;
}

.header__title {
  font-size: 20px;
  height: 50px;
  background-color: #f8fbff;
  border: 1px solid grey;
  border-width: 1px 0;
  line-height: 50px;
}

.header__subTitle {
  height: 60px;
  border-bottom: 1px solid grey;
  padding-top: 12px;
}

.createBtn {
  margin-left: 20px;
}

.campaignsList {
  width: 65%;
  display: inline-block;
  border-right: 1px solid grey;
}

.campaignHistory {
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.action-item {
  width: 25%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.campaignDesc,
.campaignActions {
  display: inline-block;
  width: 49%;
}

.cmp_number {
  border-radius: 50%;
  border: 1px solid skyblue;
  height: 28px;
  width: 28px;
  background-color: skyblue;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
  display: inline-block;
}

.cmp-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.action-desc {
  margin: 0;
}
